html {
  background-color: gray;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.player-gameboard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}
.box {
  border-top: black solid;
  border-left: black solid;
  width: 50px;
  height: 50px;
}

.box:nth-child(10n) {
  border-right: black solid;
}

.box:nth-child(n + 91) {
  border-bottom: black solid;
}

.player.box.ship {
  background-color: green;
}

.computer-gameboard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

.hit,
.player.box.ship.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.chatlog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatlog {
  display: flex;
  flex-grow: 0;
  height: 200px;
  min-width: 200px;
  margin-top: 50px;
  border: solid black;
  overflow: hidden;
}
